

.container-fluid{
    margin: 0;
    padding: 0;
    font-family: 'Grand Hotel', cursive;
    font-size: 20px;
}


.col{
    display: flex;
    width: 100vw;
    flex-direction: column;
}
.row{
    flex-wrap: wrap;
}


.hero{
    /*background-image: url(michael-mroczek-440382-unsplash.jpg);*/
    background-size: cover;
    height: 100vh;
    
}

.hero-screen{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header h1{
    
    align-items: center;
    color:#fff;
    font-size: 750%;
    
    
}

header h2{
    
    align-items: center;
    color:#fff;
    
}


.parallax {
    /* The image used */
    background-image: url(hero-mobile.png);
    

    /* Set a specific height */
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carousel{
padding: 0;
}

.carousel-indicators .active{
    background-color: #ff5900;
}

.carousel-caption h2{
    font-size: 300%;
}

.carousel-caption p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 150%;
}
.d-block {
    border-radius: 8px;
}

.about{
    margin-bottom: 5rem;
}
.about h1{
    color:black;
    margin-top: 40px;
    text-align: center;
    position: relative;
}



.about p1{
    margin: 30px 10rem 0 10rem;
    line-height: 1.75;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 130%;
}




.products{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.products h2{
    display: block;
}
.card{
    position: relative;
}

.card-text{
    font-family: 'Open Sans', sans-serif;
}
/*
@media only screen and(max-width: 600px){
    header h1{font-size: 450%;}
    header h2{font-size: 80%;}
}*/

@media only screen and (max-width: 900px){
    .about p1{
    margin: 20px 3rem 0 3rem;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 100%;
}

@media only screen and (max-width: 400px){
    .parallax{background-image: url(hero-mobile.png);}
    .about p1{
    margin: 20px 3rem 0 3rem;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 120%;
    }
    
    header h1{
    
    align-items: center;
    color:#fff;
    font-size: 350%;
    
    
    }

    header h2{
    font-size: 120%;
    
    }

}
}
